:root {
  --coloursbackgroundbody: rgba(244, 244, 244, 1);
  --coloursbackgroundpanel: rgba(255, 255, 255, 1);
  --coloursgray-200: rgba(229, 231, 235, 1);
  --coloursgray-300: rgba(209, 213, 219, 1);
  --coloursgraywhite: rgba(255, 255, 255, 1);
  --coloursprimary-200: rgba(207, 249, 223, 1);
  --colourssecondary-100: rgba(254, 223, 225, 1);
  --colourssecondary-200: rgba(254, 192, 202, 1);
  --colourssecondary-800: rgba(144, 30, 117, 1);
  --colourstextlightprimary: rgba(33, 37, 41, 1);
  --colourstextlightsecondary: rgba(131, 133, 139, 1);
  --m3-elevation-light-3: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  --text-body-1-font-family: "NunitoSans-Regular", Helvetica;
  --text-body-1-font-size: 14px;
  --text-body-1-font-style: normal;
  --text-body-1-font-weight: 400;
  --text-body-1-letter-spacing: 0px;
  --text-body-1-line-height: normal;
  --text-body-2-font-family: "NunitoSans-Regular", Helvetica;
  --text-body-2-font-size: 12px;
  --text-body-2-font-style: normal;
  --text-body-2-font-weight: 400;
  --text-body-2-letter-spacing: 0px;
  --text-body-2-line-height: normal;
  --text-button-regular-font-family: "NunitoSans-Regular", Helvetica;
  --text-button-regular-font-size: 16px;
  --text-button-regular-font-style: normal;
  --text-button-regular-font-weight: 400;
  --text-button-regular-letter-spacing: 0px;
  --text-button-regular-line-height: normal;
  --text-header-5-font-family: "NunitoSans-Bold", Helvetica;
  --text-header-5-font-size: 28px;
  --text-header-5-font-style: normal;
  --text-header-5-font-weight: 700;
  --text-header-5-letter-spacing: 0px;
  --text-header-5-line-height: normal;
  --text-subtitle-2-font-family: "NunitoSans-Bold", Helvetica;
  --text-subtitle-2-font-size: 16px;
  --text-subtitle-2-font-style: normal;
  --text-subtitle-2-font-weight: 700;
  --text-subtitle-2-letter-spacing: 0.4000000059604645px;
  --text-subtitle-2-line-height: normal;
}
